@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-light-50: #f1f1f1;
  --color-light-100: #dedede;
  --color-light-200: #bbbbbb;
  --color-dark-50: #c1c1c1;
  --color-dark-200: #777777;
  --color-dark-400: #111;
}

@layer utilities {
  body {
    @apply text-dark-50;
  }
  /* .test-color {
    color: #777777;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark-400 selection:bg-dark-400 tracking-[0.15em] selection:text-white;
  }

  p {
    @apply text-dark-50 selection:bg-dark-400 font-light selection:text-white;
  }

  input {
    @apply selection:text-dark-400 selection:bg-white;
  }

  .boxed {
    @apply mx-auto max-w-[1400px];
  }
}

@layer components {
}
