@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-light-50: #f1f1f1;
  --color-light-100: #dedede;
  --color-light-200: #bbbbbb;
  --color-dark-50: #929292;
  --color-dark-400: #080808;
}

@layer utilities {
  body {
    @apply text-dark-50;
  }
  /* .test-color {
    color: #bbbbbb;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark-400 tracking-widest;
  }

  p {
    @apply text-dark-50;
  }

  .boxed {
    @apply mx-auto max-w-[1400px];
  }
}

@layer components {
}
